# Python Programming

## Todays Objectives

- Output & Input
- Variables in python
- Type Conversions in python
- Operators in python
- Conditional Statements

In [1]:
print("Hello World")

Hello World

In [2]:
print("Today's date is",29)

Today's date is 29

In [3]:
print("Today's date is",29,sep='-')

Today's date is-29

In [4]:
print(1,2,3,4,5,6,sep="abc")

1abc2abc3abc4abc5abc6

### Variables

It is named memory location which holds some value

### Properties of declaring a variable

- shouldn't start with a number
- no special characters are allowed except underscore
- keywords are not allowed
- It can contain AtoZ & 0to9
- case sensitive

In [4]:
a=55
_a=2256
#1a=66  Wrong
#a-b=26+54 Wrong
_=524
a9=56.88
a9_='Python'

## Data types in Python 

- Primary data types -> int,float,complex,string ,boolean
- Secondary data types -> Containers -> List,Tuple,Dictionary,Set

In [5]:
a=55
b=55.66
c=5+6j
d=True
e='a+5..,'
f=['python',65,56.65,4+6j]
g=('python',65,56.65,4+6j)
h={'Name':'Python'}
i={2,3,5,7}

In [6]:
print(type(a))

<class 'int'>

In [8]:
x=55.67
print(type(x))

<class 'float'>

In [9]:
print(type(f),type(d),type(c),type(h))

<class 'list'> <class 'bool'> <class 'complex'> <class 'dict'>

In [10]:
a=input()

56

In [11]:
type(a)

str

In [12]:
b=input()

[1,2,3,4]

In [13]:
print(type(b))

<class 'str'>

## Type Conversions

In [14]:
a=int(input())

56

In [15]:
print(a,type(a))

56 <class 'int'>

In [16]:
b=int(input())

print(a,type(a))

256.66

ValueError: invalid literal for int() with base 10: '256.66'

In [17]:
c=float(input())

print(c,type(c))

65.52
65.52 <class 'float'>

## Number System

- Decimal -> 10 -> 0-9
- Binary -> 2 -> 0-1
- Octal -> 8 -> 0-7
- Hexadecimal -> 16 -> 0-F

In [18]:
a=55

print(bin(a),oct(a),hex(a))

0b110111 0o67 0x37

In [19]:
print(int('110111',2),int('67',8),int('37',16))

55 55 55

In [20]:
print(ord(a))

TypeError: ord() expected string of length 1, but int found

In [21]:
print(ord('a'))

97

In [22]:
print(chr(98))

b

## Operators in Python

- Arithmetic operator-> +,-,*,/,//,**
- Logical -> and,or,not
- comparision/relational -> <,>,>=,<=,!=
- Bitwise operator-> &,|,~,^,<<,>>
- Assignment Operator -> +=,-=,/=,//==,*=,**=
- Identity Operators -> is,not is
- membership operators -> in,not in

In [24]:
a=4
b=10

print(a+b,a-b,a*b,a**b,a/b,a//b)

14 -6 40 1048576 0.4 0

### and(in1 * in2)

|in1|in2|in1 and in2|
|-----|---|---|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|

### or(in1 + in2)

|in1|in2|in1 and in2|
|-----|---|---|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|

### not

|in1|not in1|
|-----|---|
|F|T|
|T|F|

In [31]:
a=1
b=0
c='0'

print(a and b,a or b, not a,a and c,type(a and c),sep='--')

0--1--False--0--<class 'str'>

In [32]:
print(c and a,a or c)

1 1

In [33]:
a=5
b=6
c=0

print(a and b)

6

In [34]:
print(a and c,c and a)

0 0

In [35]:
print(a < b,a>b,a==b)

True False False

## Bitwise Operators

&,|,~,^

a=4
b=10

    0000 -> 0 -> and
    1110 -> 14 -> or
~a
4   ->  0100
        0001
        0101 -> -5

In [36]:
a=4
b=10

print(a & b,a | b, ~a)

0 14 -5

### XOR -> A'B+AB'

|in1|in2|in1 xor in2|
|-----|---|---|
|T|T|F|
|T|F|T|
|F|T|T|
|F|F|F|

a=4 -> 0100
b=10 ->1010
      ------
       1110 -> 14

In [37]:
print(a ^ b)

14

## Left shift and Right shift

a=4 -> 0100
a<<2 -> 010000 -> 16
a>>2 -> 0001 -> 1

In [38]:
a=4

print(a<<2,a>>2)

16 1

In [39]:
a=5

a=a+10
print(a)
a+=10
print(a)
a-=5
print(a)
a*=2
print(a)
a**=2
print(a)

15
25
20
40
1600

## Membership operators

In [40]:
a='Python'
b='Py'
c='py'

print(a in b,a in c,a not in c)

False False True

## Identity operators

In [51]:
a=5
b=5.5
c=5
d=[1,2,3]
e=[1,2,3]
f=d

In [43]:
print(f)

[1, 2, 3]

In [44]:
print(a==c,d==e,d==f)

True True True

In [49]:
print(id(a))
print(id(c))
print(id(d))
print(id(e))
print(id(f))

140718833870768
140718833870768
1879103132992
1879103133248
1879103132992

In [50]:
d.append('Python')

print(d)
print(f)

[1, 2, 3, 'Python', 'Python', 'Python', 'Python']
[1, 2, 3, 'Python', 'Python', 'Python', 'Python']

In [52]:
print(d,e,f)
print(d is e,d is f,e is f,d is not e)

[1, 2, 3] [1, 2, 3] [1, 2, 3]
False True False True