# Day Objectives

- Conditional Statements
    - If
    - If - else
    - If - elif - else
- Loops in Python
    - For loop
    - While loop
- Strings
    - Declaring a String
    - Accesing the elements from String
    - String Methods

## Conditional Statements

- Controlling the flow of execution

### Syntax

- If

```python

if(condition):
    Block of code
    
```

- If-else

```python

if(condition):
    Block of code
else:
    Block of code
    
```

- If-elif-else

```python

if(condition):
    Block of code
elif(condition):
    Block of code
else:
    Block of code
```

- Biggest of 2 numbers

In [3]:
a=5
b=15

if(a > b):
    print(a,"is the biggest number")
else:
    print(b,"is the biggest number")

15 is the biggest number

In [4]:
a=5
b=15

if(a > b):
    print(a,"is biggest number")
elif(b>a):
    print(b,"is the biggest number")
else:
    print("Both numbers are equal")

15 is the biggest number

- Biggest of Three numbers

In [5]:
a=5
b=15
c=8

if(a>b and a>c):
    print(a,"is biggest number")
elif(b>c):
    print(b,"is the biggest number")
else:
    print(c,"is the biggest number")

15 is the biggest number

- checking the number is even or not

In [1]:
n= int(input("Enter a number:"))

if(n % 2 == 0):
    print(n,"is the even number")
else:
    print(n,"is the odd number")

Enter a number:78986545
78986545 is the odd number

Verify given year is leap year or not

- divisible by 4 remainder as 0
- shouldn't divisible by 100
- divisible by 400

In [3]:
year=int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter a year: 2100
2100 is not a leap year

## Calculator Application

- 2 input numbers
- Arithmetic operations

In [4]:
a= int(input("Enter a number:"))
b= int(input("Enter a number:"))
arth =input('What arithmetic I need to perform:')

if arth =='+':
    print(a+b)
elif arth == '-':
    print(a-b)
elif arth =='*':
    print(a*b)
else:
    print("Given arithmetic operation is invalid")
    
print(a+b)
print(a-b)
print(a*b)

Enter a number:45
Enter a number:646
What arithmetic I need to perform:*
29070
691
-601
29070

## Loops in python

execute the block of code for multiple times
- Initialization
- Condition
- Inc/Dec

### Syntax

- for loop -> How many times I need to execute the loop

```python
for Iterative variable in GroupofData:
    Block of data
```

- While loop -> Based on condition

```python
init 
while condition:
    Block of code
    inc/dec
```

### GroupofData

 range(init,cond,inc/dec)

 range(start,stop,step)

 cond -> required arg
 
 init -> 0
 
 inc/dec -> +1

Display 1 to 100 numbers to users

In [5]:
for i in range(1,101,1):
    print(i,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [6]:
for i in range(101):
    print(i,end='\t')

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [7]:
for i in range(1,101,2):
    print(i,end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

 Even numbers between 1 to 500

In [8]:
for num in range(1,501):
    if num%2 ==0:
        print(num,end='\t')

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100	102	104	106	108	110	112	114	116	118	120	122	124	126	128	130	132	134	136	138	140	142	144	146	148	150	152	154	156	158	160	162	164	166	168	170	172	174	176	178	180	182	184	186	188	190	192	194	196	198	200	202	204	206	208	210	212	214	216	218	220	222	224	226	228	230	232	234	236	238	240	242	244	246	248	250	252	254	256	258	260	262	264	266	268	270	272	274	276	278	280	282	284	286	288	290	292	294	296	298	300	302	304	306	308	310	312	314	316	318	320	322	324	326	328	330	332	334	336	338	340	342	344	346	348	350	352	354	356	358	360	362	364	366	368	370	372	374	376	378	380	382	384	386	388	390	392	394	396	398	400	402	404	406	408	410	412	414	416	418	420	422	424	426	428	430	432	434	436	438	440	442	444	446	448	450	452	454	456	458	460	462	464	466	468	470	472	474	476	478	480	482	484	486	488	490	492	494	496	498	500

1. Get the leap year between the given range
    - Starting range,ending range is given as input

In [10]:
start=int(input("Enter Starting range:"))
endr=int(input("Enter Ending range:"))

for i in range(start,endr,1):
    if (i%400 ==0) or (i%4 ==0 and i%100 !=0):
        print(i,end='\t')

Enter Starting range:1800
Enter Ending range:2020
1804	1808	1812	1816	1820	1824	1828	1832	1836	1840	1844	1848	1852	1856	1860	1864	1868	1872	1876	1880	1884	1888	1892	1896	1904	1908	1912	1916	1920	1924	1928	1932	1936	1940	1944	1948	1952	1956	1960	1964	1968	1972	1976	1980	1984	1988	1992	1996	2000	2004	2008	2012	2016

2. Get prime numbers between given range

In [2]:
# Python program to display all the prime numbers within an interval

lower = int(input())
upper = int(input())

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end='\t')

100
200
Prime numbers between 100 and 200 are:
101	103	107	109	113	127	131	137	139	149	151	157	163	167	173	179	181	191	193	197	199

3. Get n number of fibonacci series

In [5]:
#Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1,end='\t')
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0	1	1	2	3	5	8	13	21	34

## While loop

In [11]:
i=1
while(i<101):
    print(i,end='\t')
    i+=1

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

- Break : To terminate the execution of the loop
- Continue : Skip the current execution of the loop

print the numbers between 1 to 100 whenever I reached 50 stop travelling

In [2]:
for travel in range(1,101,1):
    if travel==50:
        break
    print(travel,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49

In [1]:
for travel in range(1,101,1):
    if travel==50:
        break
    elif travel%2==0:
        continue
    print(travel,end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49

In [2]:
while True:
    inp=input()
    if inp=='cancel':
        print("Loop Terminated")
        break
    print(inp)

idh
idh
fuhe
fuhe
ghjgs
ghjgs
euhfjs
euhfjs
cancel
Loop Terminated

## Strings

It is a group of data enclosed in '',"" are called strings in python

### Properties of strings

- It is immutable data type
- it is iterable

In [6]:
s1="""I'm
a
multi 
line 
string"""

In [7]:
for char in s1:
    print(char,end='\t')

I	'	m
	a
	m	u	l	t	i
	l	i	n	e
	s	t	r	i	n	g

In [8]:
s2="""Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Wikipedia
Developer: Python Software Foundation
Stable release: 3.9.5 / 3 May 2021; 19 days ago
Preview release: 3.10.0b1 / 3 May 2021; 19 days ago
Typing discipline: Duck, dynamic, strong typing; gradual (since 3.5, but ignored in CPython)
First appeared: February 1991; 30 years ago
Paradigm: Multi-paradigm: object-oriented, procedural (imperative), functional, structured, reflective

"""

In [9]:
for char in s2:
    print(char,end='\t')

P	y	t	h	o	n	 	i	s	 	a	n	 	i	n	t	e	r	p	r	e	t	e	d	 	h	i	g	h	-	l	e	v	e	l	 	g	e	n	e	r	a	l	-	p	u	r	p	o	s	e	 	p	r	o	g	r	a	m	m	i	n	g	 	l	a	n	g	u	a	g	e	.	 	P	y	t	h	o	n	'	s	 	d	e	s	i	g	n	 	p	h	i	l	o	s	o	p	h	y	 	e	m	p	h	a	s	i	z	e	s	 	c	o	d	e	 	r	e	a	d	a	b	i	l	i	t	y	 	w	i	t	h	 	i	t	s	 	n	o	t	a	b	l	e	 	u	s	e	 	o	f	 	s	i	g	n	i	f	i	c	a	n	t	 	i	n	d	e	n	t	a	t	i	o	n	.	 	W	i	k	i	p	e	d	i	a
	D	e	v	e	l	o	p	e	r	:	 	P	y	t	h	o	n	 	S	o	f	t	w	a	r	e	 	F	o	u	n	d	a	t	i	o	n
	S	t	a	b	l	e	 	r	e	l	e	a	s	e	:	 	3	.	9	.	5	 	/	 	3	 	M	a	y	 	2	0	2	1	;	 	1	9	 	d	a	y	s	 	a	g	o
	P	r	e	v	i	e	w	 	r	e	l	e	a	s	e	:	 	3	.	1	0	.	0	b	1	 	/	 	3	 	M	a	y	 	2	0	2	1	;	 	1	9	 	d	a	y	s	 	a	g	o
	T	y	p	i	n	g	 	d	i	s	c	i	p	l	i	n	e	:	 	D	u	c	k	,	 	d	y	n	a	m	i	c	,	 	s	t	r	o	n	g	 	t	y	p	i	n	g	;	 	g	r	a	d	u	a	l	 	(	s	i	n	c	e	 	3	.	5	,	 	b	u	t	 	i	g	n	o	r	e	d	 	i	n	 	C	P	y	t	h	o	n	)
	F	i	r	s	t	 	a	p	p	e	a	r	e	d	:	 	F	e	b	r	u	a	r	y	 	1	9	9	1	;	 	3	0	 	y	e	a	r	s	 	a	g	o
	P	a	r	a	d	i	g	m	:	 	M	u	l	t	i	-	p	a	r	a	d	i	g	m	:	 	o	b	j	e	c	t	-	o	r	i	e	n	t	e	d	,	 	p	r	o	c	e	d	u	r	a	l	 	(	i	m	p	e	r	a	t	i	v	e	)	,	 	f	u	n	c	t	i	o	n	a	l	,	 	s	t	r	u	c	t	u	r	e	d	,	 	r	e	f	l	e	c	t	i	v	e

In [10]:
for char in s2:
    if char in 'aeiouAEIOU':
        print(char,end=' ')

o i a i e e e i e e e e a u o e o a i a u a e o e i i o o e a i e o e e a a i i i i o a e u e o i i i a i e a i o i i e i a e e o e o o a e o u a i o a e e e a e a a a o e i e e e a e a a a o i i i i e u a i o i a u a i e u i o e i o i a e a e e u a e a a o a a i u i a a i o e o i e e o e u a i e a i e u i o a u u e e e i e

In [12]:
lo=0
uo=0
c=0

for char in s2:
    if char in 'aeiou':
        lo+=1
    if char in 'AEIOU':
        uo+=1
    else:
        c+=1
print('Upper case vowels ',uo ,'Lower case',lo ,'Consonants',c )

Upper case vowels  0 Lower case 163 Consonants 567

## Accessing the characters from string

- Indexing
    - +ve/forward
    - -ve/backward
- Slicing
    - +ve/forward
    - -ve/backward

In [13]:
print(s2)

Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Wikipedia
Developer: Python Software Foundation
Stable release: 3.9.5 / 3 May 2021; 19 days ago
Preview release: 3.10.0b1 / 3 May 2021; 19 days ago
Typing discipline: Duck, dynamic, strong typing; gradual (since 3.5, but ignored in CPython)
First appeared: February 1991; 30 years ago
Paradigm: Multi-paradigm: object-oriented, procedural (imperative), functional, structured, reflective

In [14]:
print(s2[0])

P

In [15]:
print(s2[40])

r

In [16]:
print(s2[-40])

e